.lds-dual-ring {
   display: inline-block;
   width: 80px;
   height: 80px;
   
 }
 .lds-dual-ring:after {
   position: fixed;
   top: 50%;
   left: 50%;
   content: " ";
   display: block;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   border: 6px solid #1b1b1b;
   border-color: #1b1b1b transparent #1b1b1b transparent;
   animation: lds-dual-ring 1.2s linear infinite;
 }
 @keyframes lds-dual-ring {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(360deg);
   }
 }